body{
    margin: 0;
    padding: 0;
    background-color:rgba(0, 0, 0, 0.175);
}
.heading{
    width: auto;
    height: 25vh;
    background-color: red;
    display: flex;
}
.logo{
    width: 60%;
    height: 100px;
    display: flex;
    padding: 30px 0px 0px 43px;
}
.button{

    width: 40%;
    height: 100px;
}
.btn{
    float: right;
    margin-top: 60px;
    margin-right: 60px;
    padding: 10px 25px 10px 25px;
    border: none;
    border-radius: 20px;
}

.btn:hover{
    background-color: yellow;
}
.btn:active{
    background-color:black;
    color: white;
}
.p{
    width: 350px;
    height: 180px;
    background-color: white;
    margin: 20px;
    display:inline-flex;
    margin-left: 45px;
    margin-top: 60px;
}
textarea{
    padding: 0;
    width: 345px;
    height: 150px;
    outline: none;
    border: none;
    overflow-y:scroll;
    margin-top: 25px;
    font-size:larger;
}
.main{
    margin: ;
    padding: 20px;
    width: 345px;
    height: 15px;
}
.child{
   
}
button{
    margin-left: 2px;
}
.edit{
    background-color: rgb(32, 183, 77);
    border: none;
    border-radius: 30px;
    padding: 5px;
    margin: 5px;
    color:#fff8dc;
}
.edit:hover{
    background-color: red;
}
.edit:active{
    color: black;
}
.delete{
    background-color: rgb(32, 183, 77);
    border: none;
    border-radius: 30px;
    padding: 5px;
    margin: 5px;
    color:#fff8dc;
}
.delete:hover{
    background-color: red;
}
.delete:active{
    color: black;
}
.hidden{
    display: none;
}
